@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.container {
  width: 60%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

.feed {
  margin-top: 25px;
}

.light {
  background-color: white;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

nav ul {
  padding: 0;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 15px;
  margin-left: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

nav button {
  background-color: transparent;
  border: none;

}

.dark {
  background-color: #121619;
  color: #FBFEF9;
  min-height: 100vh;
}

.nav-link-light {
  color: #2B2C28;
  text-decoration: none;
}

.nav-link-dark {
  color: #FBFEF9;
  text-decoration: none;
}

.link {
  color: #A3320B;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.dark .link {
  color: rgba(251, 254, 249, 0.8);
}

.post-container-light, .post-container-dark {
  padding-bottom: 30px;
}

.meta-info-light span a {
  color: #121619;
}

.meta-info-dark span a {
  color: rgba(251, 254, 249, 0.8);
}

.meta-info-light span {
  color: #8A8E91;
}

.meta-info-dark span {
  color: #FBFEF9;
}

.user-data {
  margin-bottom: 50px;
}

.user-data h1 {
  margin-bottom: 5px;
}

.user-data span {
  color: #8A8E91;
}

.comment-box-light, .comment-box-dark {
  background-color: rgba(138,142,145, 0.2);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.comment-box-dark {
  background-color: rgba(138, 142, 145, 0.1);
}


.comment-text-light a {
  color: #A3320B;
  font-weight: 500;
}

.comment-text-dark a {
  color: #A3320B;
  font-weight: 500;
}

.comment-text-dark {
  color: #FBFEF9;
}


.post-page-wrapper-light .link, .post-page-wrapper-dark .link {
  font-size: 2rem;
}

.post-page-wrapper-dark, .post-page-wrapper-light {
  padding: 25px 0;
}
