body {
  width: 75%;
  margin:auto;
}

.light {
  background-color: white;
  color: black;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto 50px;
}

nav ul {
  padding: 0;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 15px;
  margin-left: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.dark {
  background-color: black;
  color: white;
}
